[Unit]
Description=EasyTier Mesh Network
After=network-online.target systemd-sysusers.service
Wants=network-online.target systemd-sysusers.service

[Service]
Type=simple
Group=mihomo-bypass
ExecStart=/usr/local/bin/start-easytier.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
